
#body2{
  background-color: black;
  /* background: linear-gradient(to left bottom,#262626 80%,white); */
  height:125vh;
  width:200vh;
  margin-top:0vh;
  padding-top: 1vh;
}

.projHeading{
  border-top: 5px solid #bde4f5;
  border-left: 2px solid #bde4f5;
  color:skyblue;
  width: 28%;
  padding-left: 4vh;
  margin-left: 60vh;
  margin-top: 7%;
  font-size: 250%;
}
#Notepad{
  margin-left: 35%;
  width: 22%;
}

#NewsPage{
  margin-left: 32%;
  width:24%;
}
#Clock{
  margin-left: 34%;
  width: 18%;
}
#ChatApp{
  margin-left: 32%;
  width: 24%;
}
#LocationFinderApp{
  margin-left: 30%;
}
.lang{
  border-bottom: 2px solid skyblue;
  border-right: 6px solid skyblue;
  color:white;
  width: 11%;
  margin-bottom: 4%;
  padding-bottom: 0.6%;
  margin-left: 100vh;
  margin-top: -4vh;
  font-size: 200%;
}
#Tic-tac-toeGame_{
  margin-left: 48%;
  padding-left: 5%;
  width: 7%;
}
#NewsPage_{
  margin-left: 45%;
  padding-left: 5%;
  width: 8%;
}
#Clock_{
  margin-left: 42%;
  padding-left: 5%;
  width: 7.5%;
}
#ChatApp_{
  margin-left: 48%;
  width: 10%;
}
#LocationFinderApp_{
  margin-left: 54%;
}
#MyPortfolio{
  width:22%;
}
#MyPortfolio_{
  margin-left: 46%;
  width:9%;
}


#desc{
  margin-top: 1%;
  margin-left: 18%;
  color:#bde4f5;
  font-weight: 400;
  font-family: monospace;
  font-size: 190%;
  width:60%;
  position: absolute;
  z-index: 1;
}
#github{
  color:#bde4f5;
  font-size: 185%;
  margin-left: 26%;
  margin-top: 16%;
  margin-bottom: -8%;
}
#gitLink{
  color:white;
  margin-top: 3.5%;
  margin-left: 36%;
  font-size: 100%;
}
#gitLink:hover{
  font-weight: bold;
  font-size: 110%;
  color:skyblue;
  text-decoration: underline;
}
#listsDiv{
  position: relative;
  z-index: 10;
  list-style: none;
  margin-left: 5%;
  color:skyblue;
}


.items{
display: inline-flex;
width:15%;
margin-right: 6%;
font-size: 172%;
font-family: monospace;
margin-top: 2%;
color: skyblue;
}

.items:hover{
  width:65%;
  height: 55%;
  margin-top: -28%;
  margin-bottom: 65%;
  padding-left: 11%;
}

@keyframes line {

  0%{margin-left: 3%;width:10%;}

  10%{margin-left: 13%;width:0%;}
  16%{margin-left: 13%;width:15%;}

  20%{margin-left: 23%;width:0%;}
  26%{margin-left: 23%;width:15%;}

  30%{margin-left: 33%;width:0%;}
  36%{margin-left: 33%;width:15%;}

  40%{margin-left: 43%;width:0%;}
  46%{margin-left: 43%;width:15%;}

  50%{margin-left: 53%;width:0%;}
  56%{margin-left: 53%;width:15%;}

  60%{margin-left: 63%;width:0%;}
  66%{margin-left: 63%;width:15%;}

  70%{margin-left: 73%;width:0%;}
  76%{margin-left: 73%;width:15%;}

  80%{margin-left: 83%;width:0%;}
  86%{margin-left: 83%;width:15%;}

  90%{margin-left: 90%;width:0%;}
  96%{margin-left: 90%;width:15%;}

  97%{margin-left: 3%;width:0%;}

}
.box{
  width:10%;
  height:10%;
  border-bottom:  6px dotted skyblue;
  margin-left: 3%;
  margin-top: -5%;
  animation-name: line;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#TherearenoimagessinceitisaCommand-LineApp{
  width:100%;
  margin-left: 13%;
}
#TherearenoimagessinceitisaCommand-LineApp:hover{
  content: url(./no_image.svg);
  margin-left: -10%;
  margin-top: -54%;
  width:85%;
  opacity: 0.9;
}
/* NOTEPAD IMAGES */
#TextEditor:hover{
   content: url(./java/notepad/home.png);
}
#Menu:hover{
   content: url(./java/notepad/menu.png);
}
#SaveAsDialogBox:hover{
   content: url(./java/notepad/saveas.png);
}
#Find-ReplaceDialogBox:hover{
   content: url(./java/notepad/find.png);
}

/* TICTACTOE IMAGES */
#Welcome:hover{
   content: url(./java/tictactoe/home2.png);
}
#Playerscredentials:hover{
   content: url(./java/tictactoe/credentials.png);
}
#TheGrid:hover{
   content: url(./java/tictactoe/grid.png);
}
#TheGame:hover{
   content: url(./java/tictactoe/game.png);
}
#Result:hover{
   content: url(./java/tictactoe/won.png);
}

/* ANDROID IMAGES */
#LoginScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -31%;
  padding-left: 31%;
   content: url(./android/blogapp/login_screen.jpg);
}
#SignUpScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -31%;
  padding-left: 9%;
  content: url(./android/blogapp/signUp.jpg);
}
#Posts:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 31%;
  content: url(./android/blogapp/home_fg.jpg);
}
#ProfileScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 28%;
  padding-right: 25%;
  content: url(./android/blogapp/profile.jpg);
}
#CreatePostScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 31%;
  content: url(./android/blogapp/create_post.jpg);
}
#CommentSection:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 8%;
  content: url(./android/blogapp/comments.jpg);
}

#WelcomeScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 31%;
   content: url(./android/explore_world/welcome.jpg);
}
#Guide:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 10%;
   content: url(./android/explore_world/guide.jpg);
}
#Currentlocation:hover{
   height: -35%;
  width: 25%;
  padding-left: 30%;
  margin-top: -38%;
   content: url(./android/explore_world/current_location.jpg);
}
#Locationyoufetchedfor:hover{
  height: -35%;
  width: 25%;
  margin-top: -41%;
  padding-left: 30%;
  padding-right: 35%;
   content: url(./android/explore_world/tapped_location.jpg);
}

#HomeScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 31%;
   content: url(./android/weather/home_weather.jpg);
}
#SearchScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 10%;
   content: url(./android/weather/search.jpg);
}
#WeatherScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -38%;
  padding-left: 31%;
   content: url(./android/weather/weather.jpg);
}

/* WEB IMAGES */
#ThePage:hover{
   content: url(./web/news_page.png);
}
#TheClock:hover{
   content: url(./web/clock.png);
}

/* NODEJS IMAGES */
#HomePage:hover{
   content: url(./nodejs/chatapp/home.png);
}
#ChatPage:hover{
   content: url(./nodejs/chatapp/first_msg.png);
}
#LocationPage:hover{
   /* content: url(./java/tictactoe/won.png); */
}
#info{
  color:red;
  margin-left: 3%;
  margin-bottom: 0%;
}
@media only screen and (max-width:600px){
  .box{
    width: 0%;
    height:0%;
    animation-name: none;
  }
  #body2{
    width: 12vh;
    height:130vh;
    padding: 50%;
    background:black;
  }
  #projHeading{
    width:350%;
    margin-left: -12vh;
    font-size: 195%;
    margin-top: -170%;
  }
  #Notepad{
    margin-left: -145%;
    margin-top: -150%;
    padding-left: 18%;
    padding-top: 3%;
    width:200%;
    font-size: 210%;
  }
  #Tic-tac-toeGame{
    margin-left: -190%;
    font-size: 190%;
    margin-top: -115%;
    padding-left: 18%;
    padding-top: 3%;
    width: 340%;
  }
  #BloggingApp{
    margin-left: -180%;
    margin-top: -120%;
    padding-left: 18%;
    font-size: 190%;
    padding-top: 3%;
    width: 290%;
  }
  #ExploreTheWorld{
    margin-left: -180%;
    margin-top: -90%;
    padding-left: 22%;
    padding-top: 3%;
    font-size: 180%;
    padding-left: 12%;
    width: 330%;
  }
  #WeatherApp{
    margin-left: -160%;
    margin-top: -90%;
    font-size: 180%;
    padding-left: 16%;
    width: 250%;
    padding-top: 3%;
  }
  #NewsPage{
    margin-top: -65%;
    margin-left: -150%;
    width:210%;
    padding-left: 16%;
    font-size: 190%;
    padding-top: 3%;
  }
  #Clock{
    margin-top: -65%;
    margin-left: -145%;
    width:200%;
    padding-left: 18%;
    font-size: 190%;
    padding-top: 3%;
  }
  #ChatApp{
    margin-top: -65%;
    margin-left: -150%;
    width:220%;
    padding-left: 20%;
    padding-top: 3%;
    font-size: 190%;
  }
  #LocationFinderApp{
    margin-top: -65%;
    margin-left: -190%;
    padding-top: 3%;
    width:360%;
    padding-left: 16%;
    font-size: 190%;
  }
  #NotesApp{
    margin-top: -65%;
    margin-left: -168%;
    padding-top: 3%;
    width:260%;
    padding-left: 20%;
    font-size: 190%;
  }
  #MyPortfolio{
    margin-top: -65%;
    margin-left: -170%;
    width:260%;
    padding-top: 3%;
    padding-left: 16%;
    font-size: 190%;
  }
  #HangmanGame{
    margin-top: -65%;
    margin-left: -170%;
    width:290%;
    padding-top: 3%;
    padding-left: 16%;
    font-size: 190%;
  }
  #BookScrapingApp{
    margin-top: -65%;
    margin-left: -190%;
    width:340%;
    padding-top: 3%;
    padding-left: 16%;
    font-size: 180%;
  }


  #lang{
    margin-left: 8vh;
    font-size: 175%;
    margin-top: -8%;
    width: 150%;
  }
  #Notepad_{
    margin-left: -44%;
    margin-top: -32%;
    margin-bottom: 60%;
    padding-left: 50%;
    padding-bottom: 6%;
    width: 100%;
    font-size: 170%;
  }
  #Tic-tac-toeGame_{
    margin-top: -24%;
    margin-left: 2%;
    padding-left: 80%;
    padding-bottom: 5%;
    margin-bottom: 52%;
    width: 100%;
    font-size: 170%;
  }
  #BloggingApp_{
    margin-left: -40%;
    margin-top: -22%;
    font-size: 170%;
    margin-bottom: 50%;
    padding-bottom: 2%;
    width: 155%;
    padding-left: 50%;
  }
  #ExploreTheWorld_{
    margin-left: -34%;
    margin-top: -22%;
    margin-bottom: 42%;
    font-size: 180%;
    padding-left: 60%;
    padding-bottom: 4%;
    width: 150%;
    font-size: 170%;
  }
  #WeatherApp_{
    margin-left: -60%;
    margin-top: -20%;
    margin-bottom: 42%;
    font-size: 180%;
    padding-left: 50%;
    padding-bottom: 6%;
    width: 150%;
    font-size: 170%;
  }
  #NewsPage_{
    margin-left: -50%;
    margin-top: -24%;
    padding-left: 60%;
    margin-bottom: 48%;
    padding-bottom: 4%;
    width: 100%;
    font-size: 170%;
  }
  #Clock_{
    margin-top: -34;
    margin-left: -50%;
    padding-left: 50%;
    margin-bottom: 42%;
    padding-bottom: 6%;
    width: 100%;
    font-size: 170%;
  }
  #ChatApp_{
    margin-left: -54%;
    padding-left: 50%;
    margin-bottom: 42%;
    margin-top: -22%;
    padding-bottom: 8%;
    width: 135%;
    font-size: 165%;
  }
  #LocationFinderApp_{
    margin-top: -22%;
    margin-left: -16%;
    padding-left: 70%;
    margin-bottom: 42%;
    padding-bottom: 6%;
    width: 135%;
    font-size: 170%;
  }
  #NotesApp_{
    margin-top: -22%;
    margin-left: -44%;
    padding-left: 50%;
    margin-bottom: 42%;
    padding-bottom: 6%;
    width: 135%;
    font-size: 170%;
  }
  #MyPortfolio_{
    margin-top: -24%;
    margin-left: -32%;
    padding-left: 50%;
    margin-bottom: 42%;
    padding-bottom: 6%;
    width: 116%;
    font-size: 170%;
  }
  #HangmanGame_{
    margin-top: -24%;
    margin-left: -32%;
    padding-left: 50%;
    margin-bottom: 48%;
    padding-bottom: 6%;
    width: 140%;
    font-size: 170%;
  }
  #BookScrapingApp_{
    margin-top: -20%;
    margin-left: -2%;
    padding-left: 50%;
    margin-bottom: 48%;
    padding-bottom: 6%;
    width: 140%;
    font-size: 170%;
  }

  #desc{
    width:280%;
    margin-left: -140%;
    margin-top: -16%;
    font-size: 120%;
    font-weight: 500;
    position: relative;
  }
  #github{
    position: relative;
    margin-top: 10%;
    margin-left: -180%;
    font-size: 130%;
    margin-bottom: 6%;
  }
  #gitLink{
    margin-top: -70%;
    width:2%;
    margin-left: -70%;
    font-size: 90%;
    margin-bottom: 5%;
  }
  .items{
    width:120%;
    font-size: 150%;
    font-family: monospace;
    padding-bottom: 8%;
    padding-right: 400%;
    margin-top: -6%;
    margin-left: -420%;
  }
  .items:hover{
    height:32vh;
    width:44vh;
    margin-left: -500%;
    margin-top: -475%;
    margin-bottom: 450%;
  }

  #TherearenoimagessinceitisaCommand-LineApp{
    width:720%;
    margin-left: -450%;
  }
  #TherearenoimagessinceitisaCommand-LineApp:hover{
    content: url(./no_image.svg);
    margin-left: -670%;
    margin-top: -600%;
    height:1050%;
    width:1050%;
    opacity: 0.9;
  }

  #LoginScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -575%;
    margin-left: -415%;
  }
  #SignUpScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -575%;
    margin-left: -415%;
  }
  #Posts:hover{
    height: 500%;
    width: 600%;
    margin-top: -575%;
    margin-left: -415%;
  }
  #ProfileScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -655%;
    margin-left: -415%;
  }
  #CreatePostScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -850%;
    margin-left: -415%;
  }
  #CommentSection:hover{
    height: 500%;
    width: 600%;
    margin-top: -1000%;
    margin-left: -415%;
  }

  #WelcomeScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -575%;
    margin-left: -415%;
  }
  #Guide:hover{
    height: 500%;
    width: 600%;
    margin-top: -650%;
    margin-left: -415%;
  }
  #Currentlocation:hover{
    height: 500%;
    width: 600%;
    margin-top: -775%;
    margin-left: -415%;
  }
  #Locationyoufetchedfor:hover{
    height: 500%;
    width: 600%;
    margin-top: -800%;
    margin-left: -415%;
    padding-right: 35%;
  }

  #HomeScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -550%;
    margin-left: -415%;
  }
  #SearchScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -615%;
    margin-left: -415%;
  }
  #WeatherScreen:hover{
    height: 500%;
    width: 600%;
    margin-top: -725%;
    margin-left: -415%;
  }
}
