
#body2{
  background-color: #262626;
  background: linear-gradient(to left bottom,#262626 80%,white);
  height:100vh;
  width:200vh;
  margin-top: -1vh;
  padding-top: 1vh;

}

#projHeading{
  color:white;
  margin-left: 72vh;
  margin-top: 7%;
  font-size: 250%;
}
#lang{
  color:lightgreen;
  margin-left: 100vh;
  margin-top: -4vh;
  font-size: 200%;
}
#desc{
  margin-top: 0%;
  margin-left: 18%;
  color:lightgreen;
  font-family: monospace;
  font-size: 195%;
  width:60%;
  position: absolute;
  z-index: 1;
}
#github{
  color:red;
  font-size: 185%;
  margin-left: 28%;
  margin-top: 12%;
}
#gitLink{
  color:white;
  margin-top: -4%;
  margin-left: 22%;
  font-size: 100%;
}
#gitLink:hover{
  color:red;
  text-decoration: underline;
}
#listsDiv{
  position: relative;
  z-index: 10;
  list-style: none;
  margin-left: 5%;
}
.items{
display: inline-flex;
width:15%;
margin-right: 6%;
font-size: 172%;
font-family: monospace;
margin-top: 2%;
}
#findImg{
  margin-left: 6%;
}
.items:hover{
  width:65%;
  height: 55%;
  margin-top: -28%;
  margin-bottom: 65%;
  padding-left: 11%;
}

#TherearenoimagessinceitisaCommand-LineApp{
  width:100%;
  margin-left: 13%;
}
#TherearenoimagessinceitisaCommand-LineApp:hover{
  content: url(./no_image.svg);
  margin-left: -10%;
  margin-top: -54%;
  width:85%;
  opacity: 0.9;
}
/* NOTEPAD IMAGES */
#TextEditor:hover{
   content: url(./java/notepad/home.png);
}
#Menu:hover{
   content: url(./java/notepad/menu.png);
}
#SaveAsDialogBox:hover{
   content: url(./java/notepad/saveas.png);
}
#Find-ReplaceDialogBox:hover{
   content: url(./java/notepad/find.png);
}

/* TICTACTOE IMAGES */
#Welcome:hover{
   content: url(./java/tictactoe/home2.png);
}
#Playerscredentials:hover{
   content: url(./java/tictactoe/credentials.png);
}
#TheGrid:hover{
   content: url(./java/tictactoe/grid.png);
}
#TheGame:hover{
   content: url(./java/tictactoe/game.png);
}
#Result:hover{
   content: url(./java/tictactoe/won.png);
}

/* ANDROID IMAGES */
#LoginScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -31%;
  padding-left: 31%;
   content: url(./android/blogapp/login_screen.jpg);
}
#SignUpScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -31%;
  padding-left: 9%;
  content: url(./android/blogapp/signUp.jpg);
}
#Posts:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 31%;
  content: url(./android/blogapp/home_fg.jpg);
}
#ProfileScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 28%;
  padding-right: 25%;
  content: url(./android/blogapp/profile.jpg);
}
#CreatePostScreen:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 31%;
  content: url(./android/blogapp/create_post.jpg);
}
#CommentSection:hover{
  height: -40%;
  width: 24%;
  margin-top: -38%;
  padding-left: 8%;
  content: url(./android/blogapp/comments.jpg);
}

#WelcomeScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 31%;
   content: url(./android/explore_world/welcome.jpg);
}
#Guide:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 10%;
   content: url(./android/explore_world/guide.jpg);
}
#Currentlocation:hover{
   height: -35%;
  width: 25%;
  padding-left: 30%;
  margin-top: -38%;
   content: url(./android/explore_world/current_location.jpg);
}
#Locationyoufetchedfor:hover{
  height: -35%;
  width: 25%;
  margin-top: -41%;
  padding-left: 30%;
  padding-right: 35%;
   content: url(./android/explore_world/tapped_location.jpg);
}

#HomeScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 31%;
   content: url(./android/weather/home_weather.jpg);
}
#SearchScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -32%;
  padding-left: 10%;
   content: url(./android/weather/search.jpg);
}
#WeatherScreen:hover{
  height: -35%;
  width: 25%;
  margin-top: -38%;
  padding-left: 31%;
   content: url(./android/weather/weather.jpg);
}

/* WEB IMAGES */
#ThePage:hover{
   content: url(./web/news_page.png);
}
#TheClock:hover{
   content: url(./web/clock.png);
}

/* NODEJS IMAGES */
#HomePage:hover{
   content: url(./nodejs/chatapp/home.png);
}
#ChatPage:hover{
   content: url(./nodejs/chatapp/first_msg.png);
}
#LocationPage:hover{
   /* content: url(./java/tictactoe/won.png); */
}
#info{
  color:red;
  margin-left: 3%;
  margin-bottom: 0%;
}
@media only screen and (max-width:600px){
  #body2{
    width: 12vh;
    height:100vh;
    padding: 50%;
    background: linear-gradient(to left bottom,#262626 70%,white);
  }
  #projHeading{
    width:350%;
    margin-left: -18vh;
    font-size: 195%;
    margin-top: -170%;
  }
  #lang{
    margin-left: 8vh;
    font-size: 175%;
    margin-top: -8%;
    width: 150%;
  }
  #desc{
    width:280%;
    margin-left: -160%;
    margin-top: -16%;
    font-size: 120%;
    font-weight: 500;
    position: relative;
  }
  #github{
    position: relative;
    margin-top: 10%;
    margin-left: -180%;
    font-size: 130%;
    margin-bottom: 6%;
  }
  #gitLink{
    margin-top: -28%;
    width:300%;
    margin-left: -16%;
    font-size: 80%;
    margin-bottom: 5%;
  }
  .items{
    width:120%;
    font-size: 150%;
    font-family: monospace;
    padding-bottom: 8%;
    padding-right: 400%;
    margin-top: -6%;
    margin-left: -420%;
  }
  .items:hover{
    height:32vh;
    width:44vh;
    margin-left: -15%;
    margin-right: 280%;
    margin-top: -475%;
    margin-bottom: 450%;
  }
}
