#body4{
  background-color: white;
  height:100%;
  background: linear-gradient(to bottom,black,#006e6d,black,black);
}
.whole{
  background-color: white;
  width:200vh;
  height:30vh;
  margin-top: -15vh;
  border-bottom: 0.8vh dashed black;
  border-radius: 35%;
}
#firstH{
  margin-left: 52vh;
  margin-top: -24vh;
}
#secondH{
  padding-top:5.8vh;
  margin-left:70vh;
}
.aboutHeader{
  position:relative;
  color:#ffff33;
  font-family: cursive;
  font-size: 480%;
  font-weight: bold;
}
#about{
  background: linear-gradient(to bottom,white 66%,white 1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-family: cursive;
  margin-top: 15vh;
  width: 140vh;
  margin-left: 28vh;
  color:black;
  padding: 1%;
  border-radius: 1%;
  font-size: 130%;
}
.picabt{
  border-top: 0.8vh dashed black;
  border-right: 0.8vh dashed black;
  position:relative;
  border-radius:50%;
  width:14%;
  height:auto;
  margin-left:14vh;
  margin-top:18.2vh;
  margin-bottom: 0vh;
  object-fit: cover;
}
@media only screen and (max-width:600px){
  .whole{
    width:45vh;
  }
  .picabt{
    margin-top: 21vh;
    width: 22%;
    margin-left: 9vh;
  }
  #about{
    margin-left: 1%;
    width: 90%;
    padding: 4%;
    margin-left: 2%;
    font-weight: 400;
    /* padding-right: 4%; */
  }
}
