#body1{
  background-color: black;
  /* background: linear-gradient(to top,white 5%,#262626); */
  height:175vh;
  width:200vh;
  margin-top: -1vh;
  padding-top: 1vh;
}

#workHeader{
  color:#d2edf9;
  font-size: 275%;
  font-weight: bold;
  font-family: cursive;
  margin-left: 82vh;
  margin-top: 2vh;
}
.work{
  background-color: black;
  /* background: linear-gradient(to bottom,white,#006e6d); */
  box-shadow: 5px 0px 35px 15px skyblue;
  width:40vh;
  height:50vh;
  float: left;
  margin: 4vh;
  margin-right: 8vh;
}
@keyframes java {
    from {height: 0vh;}
    to  {height: 50vh;}
}
#Java{
  border-radius: 25%;
  padding: 2vh;
  width:25vh;
  margin-top: -5vh;
  margin-right: 14vh;
  margin-left: 22vh;
  animation-name: java;
  animation-duration: 2s;
}
@keyframes android {
  from {height: 0vh;}
  to  {height: 50vh;}
}
#Android{
  border-radius: 50%;
  padding: 7vh;
  width:35vh;
  margin-top: 7vh;
  margin-right: 13vh;
  animation-name: android;
  animation-duration: 2s;
}
@keyframes web {
  from {height: 0vh;}
  to  {height: 50vh;}
}
#Web{
  border-radius: 6%;
  padding: 0vh;
  width:25vh;
  padding-left: 2vh;
  margin-left: 4vh;
  margin-top: -2vh;
  animation-name: web;
  animation-duration: 2s;
}
@keyframes nodejs {
  from {height: 0vh;}
  to  {height: 50vh;}
}
#Nodejs{

  border-radius: 25%;
  padding: 2vh;
  padding-left: 4vh;
  width:40vh;
  margin-top: 58vh;
  margin-left: -160vh;
  animation-name: nodejs;
  animation-duration: 2s;
}
@keyframes react {
  from {height: 0vh;}
  to  {height: 50vh;}
}
#React{
  border-radius: 50%;
  padding: 6vh;
  width:45vh;
  padding-left: 10vh;
  margin-top: 6vh;
  margin-left: 8vh;
  margin-right: 2vh;
  animation-name: react;
  animation-duration: 2s;
}
@keyframes angular {
  from {height: 0vh;}
  to  {height: 25vh;}
}
#Angular{
  border-radius: 40%;
  padding: 2vh;
  width:55vh;
  height:25vh;
  margin-top: -20vh;
  margin-left: 1vh;
  animation-name: angular;
  animation-duration: 2s;
}
@keyframes python {
  from {height: 0vh;}
  to  {height: 50vh;}
}
#Python{
  border-radius: 15%;
  padding: 2vh;
  padding-left: 4vh;
  padding-top: 3vh;
  width:25vh;
  margin-left:  18vh;
  animation-name: python;
  animation-duration: 2s;
}
.topic{
  font-size: 150%;
  padding-left: 2vh;
  color:skyblue;
}
#links{
  text-decoration: none;
  color:#bce4f6;
}
#links:hover{
  text-decoration: underline;
  color:skyblue;
  font-weight: bold;
  font-size: 120%;
}
@media only screen and (max-width:600px){
  #body1{
    width:52vh;
    height: 330vh;
  }
  #workHeader{
    margin-left: 20vh;
  }
  #Java{
    margin-left: 6vh;
    margin-top: 2%;
    padding-right: 8%;
    height:35vh;
    padding-top: 4vh;
  }
  #Android{
    width:60%;
    height:45vh;
    padding-top: 4vh;
  }
  #Web{
    margin-top: 4%;
    padding-right: 6%;
    margin-left: 12%;
    border-radius: 22%;
    height:40vh;
    padding-top: 2vh;
  }
  #Nodejs{
    margin-left: 10%;
    width: 75%;
    margin-top: 4%;
    height:50vh;
    padding-top: 4vh;
  }
  #React{
    border-radius: 50%;
    width: 60%;
    height: 16vh;
    margin-left: -3%;
  }
  #Python{
    margin-left: 8%;
    margin-top: 2%;
    padding-right: 8%;
    height: 35vh;
    border-radius: 5%;
    width: 70%;
    padding-top: 6vh;
  }
}
