html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#body1{
  background-color: #262626;
  height:175vh;
  width:200vh;
  margin-top: -1vh;
  padding-top: 1vh;
}
#workHeader{
  color:white;
  font-size: 275%;
  font-weight: bold;
  font-family: cursive;
  margin-left: 82vh;
  margin-top: 2vh;
}
.work{
  background-color: #ccffff;

  width:40vh;
  height:50vh;
  float: left;
  margin: 4vh;
}
#Java{
  border-radius: 25%;
  padding: 2vh;
  width:25vh;
  margin-top: -5vh;
  margin-right: 14vh;
  margin-left: 22vh;
}
#Android{
  border-radius: 50%;
  padding: 7vh;
  width:35vh;
  margin-top: 7vh;
  margin-right: 13vh;
}
#Web{
  border-radius: 6%;
  padding: 0vh;
  width:25vh;
  margin-left: 4vh;
  margin-top: -2vh;
}
#Nodejs{
  border-radius: 25%;
  padding: 2vh;
  width:45vh;
  margin-top: 58vh;
  margin-left: -160vh;
}
#React{
  border-radius: 50%;
  padding: 6vh;
  width:50vh;
  margin-top: 2vh;
}
#Angular{
  border-radius: 40%;
  padding: 2vh;
  width:55vh;
  height:25vh;
  margin-top: -20vh;
  margin-left: 1vh;
}
#Python{
  border-radius: 40%;
  padding: 2vh;
  width:25vh;
  margin-left:  18vh;
}
.topic{
  font-size: 150%;
  padding-left: 4vh;
}
#links{
  text-decoration: none;
  color:red;
}
#links:hover{
  text-decoration: underline;
  color:black;
}
