#body3{
  background-color: black;
  /* background: linear-gradient(to bottom,white 65%,white,#006e6d); */
  width:100%;
  height:150vh;
}

@keyframes mainPage{
  0% {background-color:white;margin-left: -100%;margin-top: -250%;}

  25% {background-color:black;margin-left: -50%;margin-top: -125%;}

  100% {background-color: black;margin-left: 5%;margin-top: 1%;}
}
#name{
  position: absolute;
  color:white;
  font-family: cursive;
  width:15%;
  font-size: 90%;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  padding-left: 6%;
  padding-right: 2.2%;
  z-index: 10;
  border: 2.5px groove white;
  border-radius: 6%;
  transform: rotate(-8deg);
  animation-name : mainPage;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

#panel{
  position: absolute;
  height:135vh;
  width:46vh;
  box-shadow: 0px 2px 75px 25px skyblue ;
  border-radius: 1%;
  /* background-color: #006e6d; */
  background-color: black;
  margin-left: 5%;
  margin-top: 1%;
  z-index: 1;
  border: 1px solid black;
  animation-name : mainPage;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
@keyframes details{
  0% {color:black;}
  100% {color: skyblue;}
}
#details{
  font-size: 80%;
  width: 22%;
  margin-top: -35%;
  margin-left: 7%;
  position: absolute;
  z-index: 10;
  color:skyblue;
  font-family: inherit;
  animation-name : details;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
#interestItems{
  font-size: 130%;
  margin-left: 12%;
  margin-top: -5%;
}
.subDetails{
  padding: 1%;
}
#descHeading{
    font-size: 210%;
    margin-left: 9%;
}

#knowmore{
  position: absolute;
  z-index: 0;
  font-size: 120%;
  margin-top: -30%;
  width: 45%;
  margin-left: 35%;
  color:skyblue;
  padding: 6%;
}
.pic{
  border-left: 1px solid skyblue;
  border-top: 1px solid skyblue;
  border-bottom: 8px solid skyblue;
  border-right: 8px solid skyblue;
  border-radius:50%;
  margin-left:50%;
  margin-top:-22%;
  margin-bottom:10%;
  width:18%;
  height:auto;
  object-fit: cover;
}
.active{
  color:skyblue ;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 5%;
}
.active:hover{

}
#first:hover{
  border: 7px solid skyblue;
  margin-left: 95%;
  font-family: cursive;
  font-weight: 100;
}
#second:hover{
  border: 7px solid skyblue;
  margin-left: 95%;
  font-family: cursive;
  font-weight: 100;
}
#first{
  border: 1px solid skyblue;
  border-bottom: 12px solid skyblue;
  margin-top:0%;
  margin-left: 96%;
  width:2.6%;
  padding-left: 1%;
  padding-top: 4%;
  padding-bottom: 4%;

}
#second{
  border: 1px solid skyblue;
  border-bottom: 12px solid skyblue;
  margin-top: -4.8%;
  margin-left: 96%;
  width:2.6%;
  padding-left: 1%;
  padding-top: 4%;
  padding-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  #body3{
    height:200vh;
    width: 100%;
  }
  #name{
    padding-left: 12%;
    font-size: 120%;
    width: 60%;
  }
  #panel{
    height:125vh;
    width:75%;
  }
  #details{
    margin-left: 10%;
    font-size: 75%;
    width:45%;
    margin-top: -245%;
    padding-top: -10%;
  }
  #descHeading{
    width:145%;
    margin-left: 12%;
    font-size: 250%;
  }
  #email{
    font-size: 135%;
  }
  #interestItems{
    font-size: 135%;
    margin-left: 12%;
    margin-top: -8%;
    width:65%;
  }
  .pic{
    border-radius: 50%;
    width: 38%;
    height:12%;
    margin-left: 8%;
    margin-top: 245%;
    /* margin-bottom: 15%; */
  }
  #knowmore{
    margin-top: -10%;
    margin-left: 14%;
    width: 65%;
    font-size: 110%;
    font-weight: 500;
  }
  #first{
    position: fixed;
    margin-left: 90%;
    width: 6%;
    font-size: 110%;
    height: 36%;
    padding-top: 16%;
    padding-left: 1.5%;
  }
  #second{
    position: fixed;
    margin-left: 90%;
    width: 6%;
    font-size: 80%;
    margin-top: -208%;
    height: 36%;
    padding-top: 16%;
    padding-left: 1.5%;
  }
  #first:hover{
    border: 6px solid #006e6d;
    margin-left: 88%;
  }
  #second:hover{
    border: 6px solid #006e6d;
    margin-left: 88%;
  }

}

@media only screen and (max-width: 650px) and (orientation: landscape) {
  #body3{
    height: 210vh;
  }
  #name{
    margin-left: 4%;
    width:25%;
    font-size: 80%;
    padding-left: 7%;
  }
  #panel{
    width:35%;
    height:20%;
  }
  #details{
    margin-top: -74%;
    font-size: 60%;
  }
  #descHeading{
    width: 120%;
    margin-left: 14%;
  }
  #email{
    font-size: 148%;
  }
  .pic{
    margin-left: 58%;
    margin-top: -50%;
    margin-bottom: 26%;
  }
  #knowmore{
    margin-left: 40%;
    margin-top: -68%;
    font-size: 100%;
  }
  #first{
    margin-left: 95%;
    height:34%;
    width: 3%;
    font-size: 116%;
    padding-top: 6%;
  }
  #second{
    margin-left: 95%;
    height:34%;
    width: 3%;
    font-size: 78%;
    padding-top: 6%;
    padding-right: 0.4%;
  }
  #first:hover{
    margin-left: 92%;
  }
  #second:hover{
    margin-left: 92%;
  }

}
